.webform-submission-form .form-actions {
  margin-top: var(--spacing-layout-s);
  padding-top: var(--spacing-layout-m);
  border-top: 1px rgba(0, 0, 0, 0.6) solid;
  padding-left: var(--spacing-layout-s);
  padding-right: var(--spacing-layout-s);
  @include breakpoint(var(--breakpoint-m)) {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
  input {
    width: 100%;
    margin-bottom: var(--spacing-layout-2-xs);
    @include breakpoint(var(--breakpoint-m)) {
      width: auto;
    }
  }
  input.webform-button--draft {
    color: var(--hdbt-color-black);
    background: transparent;
    border: 0px transparent solid;
    text-decoration: underline;
    order: 3;
  }
  input.webform-button--previous {
    background: white;
    color: var(--border-color);
  }
}
webform-submission-data--view-mode-full {
  label {
    display: block;
  }
}
