.submission-print__header h1 {
  margin: 0;
}

.submission-print__header-branding {
  padding: 0;
}

.submission-print__header-branding-right {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: var(--spacing-xs);

  .submission-print__label {
    margin: 0;
  }
}

.submission-print__branding-block {
  align-items: center;
  display: flex;
  flex-flow: row-reverse nowrap;
}

.submission-print__label {
  font-size: var(--fontsize-body-m);
  font-weight: bold;
}

.submission-print__sector {
  border-bottom: 1px solid var(--color-black-20);
}

.submission-print__sector-name {
  font-weight: bold;
}
