.submission-print {
  &__top {

  }
  &__header {
    h1 {
      margin: 0;
    }
    &-branding {
      padding: 0;
      &-right {
        display: flex;
        flex-flow: row nowrap;
        gap: var(--spacing-xs);
        align-items: center;
        h2 {
          margin: 0;
        }
      }
    }
  }
  &__branding-block {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
  }
  &__label {
    font-size: var(--fontsize-body-m);
    font-weight: bold;
  }
  &__sector {
    border-bottom: 1px solid var(--color-black-20);
    &-address {

    }
    &-name {
      font-weight: bold;
    }
  }
}
