{% if submissionId %}
    <div style="padding: 4em;">
        Tässä kiitossivu
        <div>
            {{ message }}
        </div>
    </div>
{% else %}
    <div>
        {{ message }}
    </div
{% endif %}