.hds-checkbox .hds-checkbox__label {
  font-weight: normal;

  a {
    font-weight: bold;
  }

  &::before {
    background-color: var(--background-unselected);
    border: var(--border-width) solid var(--border-color-unselected);
    height: var(--size);
    width: var(--size);
  }

  &::after {
    border: 0 var(--color-white) solid;
    content: '';
    height: var(--size);
    position: relative;
    width: var(--size);
  }
}

.checkboxes--wrapper label {
  font-weight: normal;
}

.hds-checkbox__label.form-required::after {
  content: '*';
  display: inline;
}

.hds-checkbox__input:checked + .hds-checkbox__label::before {
  background-color: var(--background-selected);
  border-color: var(--border-color-selected);
}

.hds-checkbox__input:checked + .hds-checkbox__label::after {
  background-color: transparent;
  border-color: transparent;
}

.hds-checkbox .hds-checkbox__input:not(:disabled):checked:hover + .hds-checkbox__label::before,
.hds-checkbox .hds-checkbox__input:not(:disabled):checked:hover:focus + .hds-checkbox__label::before {
  background-color: var(--background-hover);
  border-color: var(--border-color-selected-hover);
}

.hds-checkbox .hds-checkbox__input:not(:disabled):checked:hover + .hds-checkbox__label::after,
.hds-checkbox .hds-checkbox__input:not(:disabled):checked:hover:focus + .hds-checkbox__label::after {
  background-color: transparent;
  border-color: transparent;
}

.hds-checkbox {
  --background-selected: var(--color-black-90);
  --background-hover: var(--color-black);
  --background-disabled: var(--color-black-10);
  --border-color-selected: var(--color-black-90);
  --border-color-selected-hover: var(--color-black);
  --border-color-selected-focus: var(--color-black-90);
  --focus-outline-color: var(--color-black);
  display: block;
}
