.form_tool__prefilled_field {
  .webform-element-description {
    color: var(--color-black);
    cursor: pointer;
    font-size: var(--fontsize-body-m);
    line-height: var(--spacing-layout-xs);
    position: relative;
  }
  .hds-text-input__label {
    margin-bottom: 0;
  }
}
form {
  .hds-icon--check-circle-fill {
    color: green;
    vertical-align: middle;
  }
}
section fieldset.webform-composite-hidden-title {
  margin-top: -1em;
}
