.form_tool__prefilled_field {
  .webform-element-description {
    color: var(--color-black);
    font-size: var(--fontsize-body-m);
    line-height: var(--spacing-layout-xs);
    position: relative;
  }

  .hds-text-input__label {
    margin-bottom: 0;
  }
}

form .hel-icon--check-circle-fill {
  --icon-size: 20px;
  color: var(--color-tram);
  vertical-align: text-top;
}

section fieldset.webform-composite-hidden-title {
  margin-top: -1em;
}
