.webform-progress {
  .webform-progress-tracker-mobile {
    border-bottom: 1px rgb(0 0 0 / 60%) solid;
    display: block;
    margin-bottom: var(--spacing-layout-2-xs);
    padding-bottom: var(--spacing-layout-2-xs);

    @include breakpoint($breakpoint-m) {
      display: none;
    }

    .webform-progress-tracker-mobile-wrapper {
      align-items: baseline;
      display: flex;

      .progress-marker::before {
        background-color: var(--hdbt-color-black);
        border: 2px var(--hdbt-color-black) solid;
        color: var(--color-white);
        font-size: $base-font-size * 1.5;
        font-weight: 500;
        height: var(--spacing-layout-l);
        letter-spacing: -2px;
        margin-bottom: var(--spacing-layout-2-xs);
        width: var(--spacing-layout-l);
      }

      .progress-info {
        padding-left: var(--spacing-layout-2-xs);
      }
    }
  }

  .webform-progress-tracker {
    display: none;

    @include breakpoint($breakpoint-m) {
      display: flex;
    }

    .progress-step .progress-text {
      color: var(--color-black-60);
    }

    .is-active .progress-title {
      color: var(--hdbt-color-black);
    }

    .progress-title[role='link'] {
      color: var(--hdbt-color-black);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .progress-step {
      margin-top: 0;

      .progress-marker::after {
        background:
          repeating-linear-gradient(
            90deg,
            var(--color-white),
            var(--color-white) 8px,
            rgb(0 0 0 / 60%) 1px,
            rgb(0 0 0 / 60%) 20px
          );
        height: 2px;
        right: calc(-50% - 12px);
        top: var(--spacing-layout-2-xs);
      }

      .progress-marker::before {
        background-color: var(--color-white);
        border: 2px var(--hdbt-color-black) solid;
        color: var(--hdbt-color-black);
        font-size: $base-font-size;
        font-weight: bold;
        height: var(--spacing-layout-s);
        margin-bottom: var(--spacing-layout-2-xs);
        width: var(--spacing-layout-s);
      }

      &.is-active {
        &:hover {
          .progress-marker::before {
            background-color: var(--hdbt-color-black);
            border: 4px var(--hdbt-color-black) solid;
            color: var(--color-white);
          }
        }

        .progress-marker::before {
          background-color: var(--hdbt-color-black);
          border: 4px var(--hdbt-color-black) solid;
          color: var(--color-white);
        }
      }

      .progress-marker::before {
        background-color: var(--color-white);
        border-color: var(--color-black-60);
        color: var(--color-black-60);
      }

      &:hover .progress-marker::before {
        background-color: var(--color-white);
        border-color: var(--color-black-60);
        color: var(--color-black-60);
      }

      &:not(.is-active).is-complete {
        .progress-marker::before {
          background-color: var(--color-white);
          border: 4px var(--hdbt-color-black) solid;
          color: var(--hdbt-color-black);
          content: 'L';
          font-size: $base-font-size * 2;
          transform: scale(-1, 1) rotate(-45deg);
        }

        &:hover {
          .progress-marker::before {
            background-color: var(--color-white);
            border: 4px var(--hdbt-color-black) solid;
            color: var(--hdbt-color-black);
          }
        }
      }
    }
  }
}
