.form-subtheme--select-wrapper {
  --border-width: 2px;
  --input-height: 56px;
  --menu-item-height: 53px;
  --icon-size: var(--spacing-layout-xs);
  --helper-color-default: var(--color-black-60);
  --helper-color-invalid: var(--color-error);
  --icon-color-invalid: var(--color-error);
  --input-background-default: var(--color-white);
  --input-background-disabled: var(--color-black-10);
  --input-border-color-default: var(--color-black-50);
  --input-border-color-hover: var(--color-black-90);
  --input-border-color-focus: var(--color-black-90);
  --input-border-color-invalid: var(--color-error);
  --input-border-color-disabled: var(--color-black-10);
  --input-color-default: var(--color-black-90);
  --input-color-disabled: var(--color-black-40);
  --label-color-default: var(--color-black-90);
  --label-color-invalid: var(--color-black-90);
  --placeholder-color: var(--color-black-60);
  --focus-outline-color: var(--color-coat-of-arms);
  appearance: none;
  background-color: var(--input-background-default);
  border: var(--border-width) solid var(--input-border-color-default);
  box-sizing: border-box;
  color: var(--input-color-default);
  cursor: pointer;
  display: block;
  font-size: 1.125em;
  grid-template-areas: 'select';
  line-height: normal;
  max-width: 30ch;
  min-width: 15ch;
  padding: 0;
  position: relative;
  width: 100%;

  select {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    color: var(--dropdown-color-default);
    cursor: inherit;
    display: flex;
    font-family: inherit;
    font-size: var(--fontsize-body-l);
    height: var(--input-height);
    line-height: inherit;
    margin: 0;
    min-height: var(--menu-item-height);
    outline: none;
    padding: calc(var(--spacing-layout-2-xs) - var(--border-width) * 2) var(--spacing-layout-2-xs);
    width: 100%;
    z-index: 1;

    &::-ms-expand {
      display: none;
    }
  }

  i.hds-icon {
    pointer-events: none;
    position: absolute;
    right: calc(var(--spacing-layout-2-xs) - var(--border-width) * 2);
    top: calc(var(--spacing-layout-2-xs) - var(--border-width) * 2);
  }

  select,
  &::after {
    grid-area: select;
  }

  // Custom arrow
  &:not(.select--multiple)::after {
    background-color: var(--helper-color-default);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    content: '';
    height: 0.5em;
    justify-self: end;
    width: 0.8em;
  }

  select:focus + .form-subtheme--select-focus {
    border: 2px solid var(--focus-outline-color);
    border-radius: inherit;
    bottom: -1px;
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;
  }
}
