.webform-submission-form .form-actions {
  margin-top: $spacing-double;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-quadruple;
  }

  input {
    width: 100%;

    @include breakpoint($breakpoint-m) {
      width: auto;
    }
  }

  input.webform-button--draft {
    background: transparent;
    border: 0 transparent solid;
    color: var(--hdbt-color-black);
    order: 3;
    text-decoration: underline;
  }

  input.webform-button--previous {
    background: $color-white;
    color: var(--border-color);
  }
}
