.form-content {
  .form-item {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: left;
    label {
      color: var(--label-color-default);
      display: block;
      font-weight: 500;
      margin-bottom: var(--spacing-3-xs);
      max-width: 400px;
      width: 100%;
      font-size: var(--fontsize-body-l);
      flex-shrink: 0;
    }
    .hds-text-input__input-wrapper {
      min-width: 50%;
    }
  }
}

.webform-ui-element-form {
  .webform-admin-composite-elements {
    table, tr, th {
      display: block;
    }
    tr th {
      display: none;
    }
    td {
      display: inline-block;
      width: 69%;
      &:first-child {
        width: 30%;
      }
      > hr {
        display: none;
      }
      > div.form-type-textfield {
        display: inline-block;
        .form-element {
          width: 100%;
        }
      }
    }
    tr:nth-child(5) td, tr:nth-child(6) td {
      width: 100%;
    }
  }
}
